<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="static/style1.css" />
  <title>BayesVision</title>
</head>
<body>
  <nav>
    <div class="container">
      <img src="img/Original on Transparent.png" />
      <a href="/logout" class="logout-btn">Logout</a>
      <div class="menu-toggle"></div>
    </div>
  </nav>
  
  <!-- Include script.js -->
  <script src="script.js"></script>
</body>
</html>
